@charset "utf-8";
	                    body{
							 color:red;
							 
							 font-family:sans-serif;} 					  }
						q{
						  color:red;}
						h5{
							dispiay:none}
						h1{
							font-family: sans-serif;}
						em{
							font-family:serif}
					   .red{
							  color:red;}
					   .green{
						   	color:green;}/* CSS Document */

